.DS_Store
.env*
livekit.yaml

.env.vps
clinic-app.tar.gz
*.env
*.env.*
secrets/
*.key
*.pem
*.pub

# clinic-app
clinic-app/*.log
clinic-app/.DS_Store
clinic-app/.env
clinic-app/.env.backup
clinic-app/.env.production
clinic-app/.phpactor.json
clinic-app/.phpunit.result.cache
clinic-app/.codex
clinic-app/.cursor/
clinic-app/.idea
clinic-app/.nova
clinic-app/.phpunit.cache
clinic-app/.vscode
clinic-app/.zed
clinic-app/auth.json
clinic-app/node_modules
clinic-app/public/build
clinic-app/public/fonts-manifest.dev.json
clinic-app/public/hot
clinic-app/public/storage
clinic-app/storage/*.key
clinic-app/storage/pail
clinic-app/vendor
clinic-app/_ide_helper.php
clinic-app/Homestead.json
clinic-app/Homestead.yaml
clinic-app/Thumbs.db
clinic-app/rr
clinic-app/.rr.yaml
clinic-app/**/caddy
clinic-app/frankenphp
clinic-app/frankenphp-worker.php
!clinic-app/.env.example
!.env.example
