.DS_Store

# Ignore legacy files and directories
/admin/
/doctor/
/patient/
/js/
/css/
/img/
/contact/
/Game/
/connection.php
/logout.php
/create-account.php
/index.html
/login.php
/signup.php
/SQL_Database_edoc.sql
